In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
url  = 'https://raw.githubusercontent.com/jbrownlee/Datasets/master/housing.csv'
data = pd.read_csv(url, header = None)

In [4]:
data.shape

(506, 14)

In [5]:
data.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33,36.2

### lasso

In [6]:
import numpy as np
from sklearn.model_selection import cross_val_score, RepeatedKFold
from sklearn.linear_model import Lasso

In [7]:
X = data.values[:, :-1]
y = data.values[:, -1]

model = Lasso(alpha = 1.0)
cv = RepeatedKFold(n_splits = 10, n_repeats = 3, random_state = 1)
scores = cross_val_score(model, X, y,
                         scoring = 'neg_mean_absolute_error',
                         cv = cv)
scores = abs(scores)

In [9]:
print('mean MAE:%.3f' % np.mean(scores))

mean MAE:3.711

In [ ]:
model.fit(X, y)
yhat = model.predict(new_data)

### tuning

In [ ]:
from sklearn.model_selection import GridSearchCV

In [ ]:
model = Lasso()
cv = RepeatedKFold(n_splits = 10, n_repeats = 3, random_state = 1)
params = {'alpha':np.arrange(0, 1, 0.01)}
search = GridSearchCV(model, params,
                      scoring = 'neg_mean_absolute_error',
                      cv = cv,
                      n_jobs = -1)
results = search.fit(X, y)
print('mae: %.3f' % results.best_score_)
print('params: %s' % result.best_params_)

In [ ]:
# build-in cv
from sklearn.linear_model import LassoCV

In [ ]:
model = LassoCV(alphas = np.arrange(0, 1, 0.01),
                cv = cv,
                n_jobs = -1)
model.fit(X, y)
print('alpha: %f' % model.alpha_)

### ridge

In [ ]:
# change Lasso to Ridge, everthing is the same.