In [1]:
import pandas as pd
import numpy as np

In [2]:
ser = pd.Series([1, 2, 3, 4])

In [4]:
ser.tolist()

[1, 2, 3, 4]

In [5]:
dict_ = {'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}
pd.Series(dict_)

a    100
b    200
c    300
d    400
e    800
dtype: int64

In [10]:
print(np.array([10, 20]))
a = np.array([10, 20])
print(pd.Series(a))

[10 20]
0    10
1    20
dtype: int32

In [14]:
ser = pd.Series([10, 20, 'python', 10.23])
pd.to_numeric(ser, errors = 'coerce')

0    10.00
1    20.00
2      NaN
3    10.23
dtype: float64

In [15]:
s1 = pd.Series(['100', '200', 'python', '300.12', '400'])
np.array(s1)

array(['100', '200', 'python', '300.12', '400'], dtype=object)

In [16]:
np.array(s1.values.tolist())

array(['100', '200', 'python', '300.12', '400'], dtype='<U6')

In [19]:
# Convert Series of lists to one Series
s = pd.Series([
    ['Red', 'Green', 'White'],
    ['Red', 'Black'],
    ['Yellow']])
print("Original Series of list")
print(s)

s.apply(pd.Series).stack().reset_index(drop = True)

Original Series of list
0    [Red, Green, White]
1           [Red, Black]
2               [Yellow]
dtype: object

0       Red
1     Green
2     White
3       Red
4     Black
5    Yellow
dtype: object

In [22]:
pd.Series(['100', '200', 'python', '300.12', '400']).sort_values()

0       100
1       200
3    300.12
4       400
2    python
dtype: object

In [23]:
s.append(pd.Series(['500', 'php']))

0    [Red, Green, White]
1           [Red, Black]
2               [Yellow]
0                    500
1                    php
dtype: object

In [24]:
s = pd.Series([0, 1,2,3,4,5,6,7,8,9,10])
print("Original Data Series:")
print(s)
print("\nSubset of the above Data Series:")
n = 6
new_s = s[s < n]  # directly compare
print(new_s)

Original Data Series:
0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
dtype: int64

Subset of the above Data Series:
0    0
1    1
2    2
3    3
4    4
5    5
dtype: int64

In [25]:
# change the order of index
s = pd.Series(data = [1,2,3,4,5], index = ['A', 'B', 'C','D','E'])
print("Original Data Series:")
print(s)
s = s.reindex(index = ['B','A','C','D','E'])
print("Data Series after changing the order of index:")
print(s)

Original Data Series:
A    1
B    2
C    3
D    4
E    5
dtype: int64
Data Series after changing the order of index:
B    2
A    1
C    3
D    4
E    5
dtype: int64

In [26]:
# Display most frequent value in a given series and replace everything else as ‘Other’ in the series
np.random.RandomState(100)
num_series = pd.Series(np.random.randint(1, 5, [15]))
print("Original Series:")
print(num_series)
print("Top 2 Freq:", num_series.value_counts())
result = num_series[~num_series.isin(num_series.value_counts().index[:1])] = 'other'
print(num_series)

Original Series:
0     3
1     4
2     2
3     2
4     1
5     1
6     3
7     2
8     4
9     2
10    4
11    3
12    1
13    3
14    4
dtype: int32
Top 2 Freq: 4    4
3    4
2    4
1    3
dtype: int64
0     other
1         4
2     other
3     other
4     other
5     other
6     other
7     other
8         4
9     other
10        4
11    other
12    other
13    other
14        4
dtype: object

In [ ]:
# the position of a condition
result = np.argwhere(num_series % 5==0)

In [27]:
# Get the positions of items of a given series in another given series
series1 = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
series2 = pd.Series([1, 3, 5, 7, 10])
print("Original Series:")
print(series1)
print(series2)
result = [pd.Index(series1).get_loc(i) for i in series2]
print("Positions of items of series2 in series1:")
print(result)

Original Series:
0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64
0     1
1     3
2     5
3     7
4    10
dtype: int64
Positions of items of series2 in series1:
[0, 2, 4, 6, 9]

In [ ]:
# len of each character
series1.map(lambda x: len(x))

In [ ]:
# date format
pd.to_datetime(date_series)
# Convert year-month string to dates adding a specified day of the month
df.map(lambda x: parse('11' + x))

In [ ]:
# 33